{{#partial "content"}}
    <br>
    <br>
    <div class="jumbotron" style="background-color: light-green;">
        <strong><p>Good work! You have successfully created a squad"</p></strong>
        <a class="btn btn-info" href="/newSquad">Check Squad</a>
    </div>
{{/partial}}


{{> layout.hbs}}